<div class="container-fluid">
    <h2 mat-dialog-title>Recupera tu contraseña</h2>
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Correo Electronico</mat-label>
            <input matInput>
        </mat-form-field>
        
    </div>
    <div class="row">
        <div class="col">
            <button mat-raised-button mat-dialog-close>
                Cerrar
            </button>
        </div>
        <div class="col">
            <button mat-raised-button color="primary">
                Continuar
            </button>
        </div>
    </div>
</div>